<!DOCTYPE html>
<!--
    Created by: Javier Díaz on 19/04/22.
    https://github.com/CaraTortu/Chats
-->
<html lang="en">
    <head>
        <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css" media="screen" />
        <link rel="stylesheet" type="text/css" href="/static/css/index.css" media="screen" />
    </head>
    <body>
      
        <div class="logocon" data-0="opacity: 1; display: flex" data-99="opacity: 0; display: none" data-100="display: none">
          <div class="logo">Chats!</div>
        </div>

        <div class="hint" data-0="bottom: 10vh" data-100="bottom: -25px">
            scroll down or click
        </div>

        <nav class="navbar navbar-expand-sm fixed">
            <div class="container-fluid">
              
              <a class="navbar-brand text-white brand" href="/">Chats!</a>

              <button class="btn btn-outline-light me-2" onclick="location.href = '/login';" type="button">Login/signup</button>
            
            </div>
          </nav> 

        <script src="/static/js/jquery-3.6.0.min.js"></script>
        <script src="/static/js/bootstrap.min.js"></script>
        <script src="//d3a1v57rabk2hm.cloudfront.net/maxjacobson/bold_mobile-copy-8/js/skrollr.js"></script>
        <script src="/static/js/index.js"></script>
    </body>
</html>